{% extends 'state/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
            <h2>The Air Quality</h2>
        <div class="row">          
            <div class="col-md-6">
                <img src="https://i.imgur.com/ehNR2ol.png" style="height:400px;width:400px;"/>
            </div>
            <div class="col-md-6">
                    <img src="https://i.imgur.com/HCWEfFy.png" style="height:400px;width:400px;"/>
                </div>
            </div>
                <div class="row">    
                <div class="col-md-6">
                        <img src="https://i.imgur.com/qst9rFr.png" style="height:400px;width:400px;"/>
                    </div>
                    <div class="col-md-6">
                            <img src="https://i.imgur.com/BAxoEkS.png" style="height:400px;width:400px;"/>
                        </div>    
                </div> 
            <div><div class="row">          
            <div class="col-md-6">
                <img src=" https://i.imgur.com/97p8TIE.png" style="height:400px;width:400px;"/>
            </div>
            <div class="col-md-6">
                    <img src="https://i.imgur.com/wUcB6L5.png" style="height:400px;width:400px;"/>
                </div>
                </div>
            <h2>Water Quality</h2><br>
            <div class="row">          
                    <div class="col-md-6">
                        <img src=" https://i.imgur.com/97p8TIE.png" style="height:400px;width:400px;"/>
                    </div>
                    <div class="col-md-6">
                            <img src="https://i.imgur.com/wUcB6L5.png" style="height:400px;width:400px;"/>
                        </div>
                    </div>
                    <h2>Literacy and Unemployment</h2><br>
                    <div class="row">          
                            <div class="col-md-6">
                                <img src="https://i.imgur.com/TToWEAw.png" style="height:400px;width:400px;"/>
                            </div>
                            <div class="col-md-6">
                                    <img src=" https://i.imgur.com/7iBMm1M.png" style="height:400px;width:400px;"/>
                                </div>
                            </div>        

       
    </div>
{% endblock %}